.navbar-landing{
    height: 100px;
    border-bottom: 3px solid #ed1c24;
}
.bg-light-dark{
    background-color: #050505a3 !important;
}
.header-cover:after{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background: #050505a3;
}
.header-cover{
    height: 100%;
    background: #0c5460;
}
/* GLOBAL STYLES
-------------------------------------------------- */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.top_carousel .carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.top_carousel .carousel-caption {
    bottom: 3rem;
    z-index: 10;
    top:22rem;
}

/* Declare heights because of positioning of img element */
.top_carousel .carousel-item {
    height: 100vh;
    background-color: #777;
}
.top_carousel .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
}
.top_carousel .carousel-item:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #050505a3;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
.pulse {
    overflow: visible;
    position: relative;
}
.pulse:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    transition: opacity .3s, transform .3s;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
}
@keyframes pulse-animation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
.pulse2 {
    overflow: visible;
    position: relative;
}
.pulse2:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    transition: opacity .3s, transform .3s;
    animation: pulse2-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
}
@keyframes pulse2-animation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}
.inf ul{
    list-style: none;
    color:white;
    float: right;
    margin-left: -30px;
}
.inf svg{
    color:#ed1c24;
}
.tel:hover{
    text-decoration: none;
    color:#eee;
}
.tel{
    color:white;
    letter-spacing: 1px;
}
.section{
    padding-top: 40px;
    padding-bottom: 40px;
}
.bg-light-grey{
    background-color:#dedede44;
}
.section-title small{
    display: block;
    font-size: 15px;
    color: #a5a5a5;
}
.not_small{
    color: #131515!important;
    letter-spacing: 1px;
    margin-top: 13px;
}
.section-title{
    text-align: center;
    font-size: 1.9rem;
    position: relative;
    margin-bottom: 60px;
}
.section-title:before{
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    bottom: -25px;
    background-color: #ed1c24;
    left: 0;
    right: 0;
    margin: 0 auto;
}
div.card-img-top
{
    text-align: center;
    font-size: 85px;
}

.schema_work{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.schema_ico{
    font-size: 75px;
}
.schema_title{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.schema_text{
    letter-spacing: 1px;
    text-align: center;
    padding-top: 10px;
    font-size: 1.1rem;
    padding-bottom: 40px;
}
.carousel-advokat .carousel-item:after{
    background: transparent;
}
.carousel-advokat .carousel-item {
    max-height: 300px;
}
.carousel-advokat {
    max-width: 300px;
    max-height: 300px;
}
.carousel-advokat img{
    max-width: 300px!important;
    max-height: 300px;
}
.aboutme{
    letter-spacing: 1px;
    font-size: 1rem;
}
.btn-crimson:hover{
    color:#eee;
    background-color: #ba182d;
    border-color: #ba182d;
}
.btn-crimson{
    color: #fff;
    background-color: #d6223a;
    border-color: #d6223a;
}
/*.feedback_form:after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    background: #000;*/
/*    top:0;*/
/*    left:0;*/
/*    width: 100%;*/
/*    height:100%;*/
/*}*/
.feedback_form{
    display: flex;
    padding: 20px;
    background: url("https://dps18.ru/wp-content/themes/dps18_v2/dist/assets/img/bg/questions.jpg");
    background-size: cover;
    color:#fff;
    width: 100%;
    min-height: 15rem;
    flex-direction: column;
    align-items: center;
}
.feed_back_title{
    /*font-size: 1.4rem;*/
    font-size: 1rem;
    letter-spacing: 1px;
}
.feedback_form .form-inline{
    padding-top: 3rem;
}
.feedback_form .form-group{
    margin-right: 15px;
}
.whyus_block{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 20px 32px;
    padding: 30px 50px 40px 35px;
    text-align: center;
    align-items: center;
}
.whyus_round{
    border: 2px solid #472402;
    border-radius: 50%;
    padding-top: 37px;
    width: 150px;
    height: 150px;
    /*font-size: 1.9rem; */
    font-size: 2.22rem;
    text-align: center;
    background: #472402;
    color:white;
}
.whyus_title{
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding-top: 15px;
}
.whyus_text{
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
}
#avatar_slides {
    position: relative;
    height: 33rem;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.avatar_slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.avatar_showing {
    opacity: 1;
    z-index: 2;
}

.avatar_slide img{
    width:100%;
    height: inherit;
}
.avatar_slide {
    font-size: 40px;
    /*padding: 40px;*/
    box-sizing: border-box;
    background: #333;
    color: #fff;
    height: 33rem;
}
.section_bg1{
    background: url('/images/cover_grey.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.service_block:hover{
    box-shadow: 0 0 40px -15px #000;
    cursor: pointer;
    transform: scale(1.1);
}
.service_block{
    position: relative;
    display: flex;
    flex:1;
    flex-direction: column;
    background: white;
    width: 100%;
    margin: 0 20px 32px;
    padding: 30px 50px 40px 35px;
    box-shadow: 0 0 20px -15px #000;
    transition: .5s;
}

.service_title{
    font-weight: bold;
    font-size: 1.5rem;
}
.service_text, .service_title{
    letter-spacing: 1px;
}
.badge-service{
    position: absolute;
    background: #fe4102;
    color:white;
    top: 15px;
    right: 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 1px 10px 2px 10px;
}
.top-title{
    /*font-size: 2.5rem!important;*/
    font-size: 1.9rem!important;
}
.bg_antifon{
    background:#efefef;
}
.span-brand{
    text-transform: uppercase;

}
@media (max-width: 500px) {
    .top_carousel .carousel-caption {
        top: 10rem;
    }
}
@media (max-width: 768px) {
    .hidden-mobile{
        display: none!important;
    }
    /*.top-title{*/
    /*    font-size: 1.9rem!important;*/
    /*}*/
    .feedback_form .form-group input{
        width: 100%;
    }
    .feedback_form .form-group {
        padding-bottom: 15px!important;
        width: 100%!important;
    }
    .navbar-collapse {
        background: #000000f2;
        padding: 15px;
        margin-top: 52px;
    }
    #avatar_slides, .avatar_slide {
        height: 28rem;
    }
    .btn.pulse2{
        width: 70%;
    }
}
@media(min-width: 768px)
{
    .hidden-large{
        display: none!important;
    }

}
.section-footer a:hover{
    border-bottom: 1px dashed #ffffff;
    color: #eeeeee;
}
.section-footer a{
    text-decoration: none;
    color: #eeeeee;
}
.section-footer{
    background: #1b1e21;
    color: #eeeeee;

}
.head-info{
    color: white;
    display: grid;
    grid-template-columns: 0.1fr 10fr;
}
.head-info-ico-location{
    grid-row-start: 1;
    grid-row-end: 4;
    margin-right: 5px;

}
.head-info-ico-phone{
    grid-row-start: 2;
    grid-row-end: 4;
    margin-right: 5px;
}
.btn-fz-1{
    font-size: 1rem!important;
}